@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@400;500;700&family=Tangerine&display=swap");
* {
  margin: 0;
  padding: 0;
}

.btn_primary {
  font-family: "Roboto condensed", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  color: #412814;
  filter: drop-shadow(0px 4px 8px rgba(13, 17, 5, 0.55));
  background: linear-gradient(90.93deg, #C48351 0.05%, #DDA67A 37.11%, #A0612F 100.15%);
  border: 1.5px solid #CE9468;
  border-radius: 16px;
  height: 36px;
  width: 260px;
  z-index: 10;
  transition: all 200ms ease-in-out 0ms;
}
.btn_primary:hover {
  background: linear-gradient(90.93deg, #C48351 20.05%, #DDA67A 57.11%, #A0612F 120.15%);
  color: #0D1105;
}

.btn_secondary {
  font-family: "Roboto Condensed";
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #fbfbfb;
  filter: drop-shadow(0 0 3px rgb(13, 17, 5));
  width: 288px;
  height: 36px;
  filter: drop-shadow(0px 4px 8px rgba(13, 17, 5, 0.35));
  background: linear-gradient(90.93deg, #C48351 0.05%, #DDA67A 37.11%, #A0612F 100.15%);
  border: 1px solid #CE9468;
  border-radius: 24px;
  transition: all 200ms ease-in-out 0ms;
}
.btn_secondary:hover {
  background: linear-gradient(90.93deg, #C48351 20.05%, #DDA67A 57.11%, #A0612F 120.15%);
  filter: drop-shadow(0px 4px 8px rgba(13, 17, 5, 0.55));
}

.btn-tertiary {
  font-size: 0.85rem;
  font-weight: 600;
  opacity: 0.65;
  color: #412814;
}
.btn-tertiary:hover {
  text-decoration: underline;
}

.btn__cards {
  display: block;
  padding: 0.3rem 1rem;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  font-size: 1rem;
  color: #fbfbfb;
  text-decoration: none;
  background-color: #242D14;
  border-radius: 8px;
  filter: drop-shadow(0px 4px 8px rgba(13, 17, 5, 0.35));
}
.btn__cards:hover {
  filter: drop-shadow(0px 4px 8px rgba(13, 17, 5, 0.55));
}
.btn__cards--tight {
  max-width: 256px;
  margin: auto;
}

#btn__arrowUp {
  display: none;
  margin: 24px 0 48px 0;
  max-width: 100vw;
  position: fixed;
  z-index: 10000;
  bottom: 65px;
  right: 0;
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.85));
  transform: translateX(56px);
  transition: all 200ms ease-in-out 0ms;
}
#btn__arrowUp:hover {
  transform: translateY(-7px) scale(1.05);
}

@font-face {
  font-family: "Aniron";
  src: url("../fonts/aniron.ttf");
}
@font-face {
  font-family: "Trajan Pro";
  src: url("../fonts/Trajan Pro.ttf");
  src: url("../fonts/TrajanPro-Bold.otf");
}
/* ------------ HEADER SECTION --------------- */
/* --- HEADER SECTION Global values --- */
.header {
  background-color: #0D1105;
  background-repeat: no-repeat;
  background-position: center top;
  display: flex;
  flex-direction: column;
  position: relative;
}
.header__content {
  background-color: transparent;
}

.home {
  background-image: url("../imgs/header_mobile_home_01.png");
}

.attractions {
  background-image: url("../imgs/header_mobile_attractions_01.png");
}

.promos {
  background-image: url("../imgs/header_mobile_promos_01.png");
}

.food {
  background-image: url("../imgs/header_mobile_food_02.png");
}

.contact {
  background-image: url("../imgs/header_mobile_contact_01.png");
}

/* --- HEADER SECTION :: NAVBAR with BS --- */
.navbar {
  padding-top: 20px;
  filter: drop-shadow(0 0 3px rgb(13, 17, 5));
}
.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.6);
  padding: 0.15rem 0.35rem;
}
.navbar-brand:hover {
  opacity: 0.7;
}
.navbar-nav-link {
  padding: 0.3rem 0.2rem;
}
.navbar-dark {
  --navbar-active-color: #fbfbfbb4;
}

/* --- HEADER SECTION :: HERO Styles --- */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.hero h1 {
  position: relative;
  font-family: "Trajan Pro", "Times New Roman", serif;
  font-size: 32px;
  line-height: 34px;
  color: #CE9468;
  background-image: linear-gradient(92.15deg, #C48452 5.16%, #F7C9A5 64.69%, #A26331 98.09%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-top: 198px;
  filter: drop-shadow(0 0 3px rgb(13, 17, 5));
}
.hero__p1, .hero__p2 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #fbfbfb;
  margin-top: 16px;
  max-width: 380px;
  filter: drop-shadow(0 0 3px rgb(13, 17, 5));
}
.hero__p2 {
  display: none;
}
.hero__btn--primary {
  text-decoration: none;
  margin-top: 25px;
}
.hero__btn--primary div {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 200ms ease-in-out 0ms;
}
.hero__btn--primary div:hover {
  filter: drop-shadow(0px 4px 8px rgba(13, 17, 5, 0.85));
}
.hero__btnFiruletes {
  z-index: 1;
  margin-top: -55px;
}

/* ------------ MAIN --------------- */
/* --- MAIN Section A :: INDEX PAGE ==> Intro --- */
.sectionA {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0D1105;
  padding-bottom: 40px;
  /* --- CHANGES FOR ATTRACTION, PROMOS and RESTAURANT PAGE --- */
}
.sectionA__h2 {
  font-family: "Times New Roman", serif;
  font-size: 24px;
  color: #CE9468;
  padding-top: 88px;
}
.sectionA__p1, .sectionA__p2 {
  padding-top: 24px;
  font-family: "Times New Roman", serif;
  font-weight: 400;
  font-size: 16px;
  color: #AEB5AE;
  text-align: left;
  max-width: 80vw;
}
.sectionA__p1::first-letter, .sectionA__p1::first-letter, .sectionA__p2::first-letter, .sectionA__p2::first-letter {
  initial-letter: 2;
  padding-right: 2px;
  color: #CE9468;
}
.sectionA__content {
  background-color: transparent;
}
.sectionA__h2--content {
  color: #412814;
  padding-top: 16px;
}
.sectionA__p1--content, .sectionA__p2--content {
  color: #0D1105;
}
.sectionA__p1--content::first-letter, .sectionA__p1--content::first-letter, .sectionA__p2--content::first-letter, .sectionA__p2--content::first-letter {
  color: #412814;
}

/* --- MAIN Section A :: RESTAURANT PAGE --- */
.logo_theGreenDragon {
  max-width: 260px;
  margin-top: 48px;
  margin-bottom: 18px;
}

.tolkienPhrase {
  margin: 48px;
  max-width: 300px;
  margin: auto;
}
.tolkienPhrase .sectionA__tolkien {
  display: block;
  font-family: "Tangerine", "Times New Roman", serif;
  font-size: 3rem;
  line-height: 2.5rem;
  text-align: center;
  color: #412814;
  margin: 52px auto 12px auto;
}
.tolkienPhrase .sectionA__tolkien__sign {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  font-size: 14px;
  opacity: 0.4;
  text-align: end;
  margin-right: 40px;
  margin-bottom: 40px;
}

/* --- MAIN Section A :: CONTACT PAGE ==> --- */
.sectionA__contact {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
.sectionA__contact img {
  display: none;
}
.sectionA__contact div {
  width: 100%;
  margin-top: 24px;
}
.sectionA__contact form {
  margin-bottom: 80px;
}
.sectionA__contact label {
  margin-bottom: 0;
  font-size: 14px;
  color: #0D1105;
}
.sectionA__contact textarea {
  min-height: 120px;
}
.sectionA__contact .form-check {
  margin-top: -12px;
  margin-bottom: 16px;
}
.sectionA__contact .form-check-label {
  opacity: 0.8;
}

/* --- MAIN Section B :: INDEX PAGE ==> Welcome and activities available --- */
.sectionB {
  padding-top: 56px;
  padding-bottom: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sectionB h3 {
  font-family: "Aniron", "Times New Roman", serif;
  font-size: 24px;
  color: #0D1105;
  opacity: 0.9;
}
.sectionB h4 {
  font-family: "Aniron", "Times New Roman", serif;
  font-size: 15px;
  color: #0D1105;
  opacity: 0.7;
}
.sectionB p {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #0D1105;
  opacity: 0.8;
}
.sectionB__icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "icon_1a icon_1a icon_2a icon_2a icon_3a icon_3a" "icon_1b icon_1b icon_2b icon_2b icon_3b icon_3b" "icon_4a icon_4a icon_4a icon_5a icon_5a icon_5a" "icon_4b icon_4b icon_4b icon_5b icon_5b icon_5b";
  justify-items: center;
  max-width: 300px;
}
.sectionB__icons .icon_1a {
  grid-area: icon_1a;
  padding: 0 25px;
}
.sectionB__icons .icon_1b {
  grid-area: icon_1b;
  padding: 0 25px;
}
.sectionB__icons .icon_2a {
  grid-area: icon_2a;
  padding: 0 25px;
}
.sectionB__icons .icon_2b {
  grid-area: icon_2b;
  padding: 0 25px;
}
.sectionB__icons .icon_3a {
  grid-area: icon_3a;
  padding: 0 25px;
}
.sectionB__icons .icon_3b {
  grid-area: icon_3b;
  padding: 0 25px;
}
.sectionB__icons .icon_4a {
  grid-area: icon_4a;
  padding: 0 25px;
  justify-self: end;
  max-width: 115px;
}
.sectionB__icons .icon_4b {
  grid-area: icon_4b;
  padding-left: 34px;
  justify-self: end;
  max-width: 155px;
  text-align: center;
}
.sectionB__icons .icon_5a {
  grid-area: icon_5a;
  padding: 0 8px;
  justify-self: start;
}
.sectionB__icons .icon_5b {
  grid-area: icon_5b;
  padding-right: 64px;
  justify-self: start;
  max-width: 155px;
  text-align: center;
}
.sectionB__icons .icon_1b,
.sectionB__icons .icon_2b,
.sectionB__icons .icon_3b,
.sectionB__icons .icon_4b,
.sectionB__icons .icon_5b {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

/* --- MAIN Section B :: ATTRACTION PAGE ==> Attraction's cards with BS --- */
.sectionB__cards {
  max-width: 1000px;
  margin: auto;
  padding-top: 64px;
  padding-bottom: 108px;
}
.sectionB__cards .attraction--card {
  font-family: "Roboto Condensed", sans-serif;
}
.sectionB__cards .attraction--card .card-header {
  font-size: 15px;
  padding: 0.16rem;
  background-color: #242D14;
  color: #fbfbfb;
}
.sectionB__cards .attraction--card .card-title {
  font-weight: 900;
  text-align: left;
  color: #0D1105;
  opacity: 0.65;
}
.sectionB__cards .attraction--card .card-text {
  text-align: left;
  font-size: 15px;
  color: #0D1105;
  opacity: 0.85;
}
.sectionB__cards .attraction--card .text-body {
  font-weight: 700;
  color: #7C7C7C !important;
  display: block;
}

/* --- MAIN Section B :: PROMOS PAGE ==> Promo's cards with BS --- */
.sectionC__lastMoment {
  max-width: 768px;
  margin: auto;
}
.sectionC__lastMoment:hover {
  filter: drop-shadow(0px 4px 8px rgba(13, 17, 5, 0.85));
  transform: scale(1.009);
}

/* --- Section C - INDEX PAGE - Carousel --- */
.sectionC__carousel {
  background-color: #0D1105;
}
.sectionC__carousel .carousel__imgs--mobile1,
.sectionC__carousel .carousel__imgs--mobile2,
.sectionC__carousel .carousel__imgs--mobile3 {
  max-height: 568px;
  max-width: 768px;
  margin: auto;
}
.sectionC__carousel .carousel__imgs--desktop1,
.sectionC__carousel .carousel__imgs--desktop2,
.sectionC__carousel .carousel__imgs--desktop3 {
  max-height: 568px;
  max-width: 1920px;
  margin: auto;
}
.sectionC__carousel .sectionC__carousel--desktop {
  display: none;
}

/* --- Section D - INDEX PAGE - Testimonies --- */
.sectionD {
  background-color: #fbfbfb;
  padding: 36px 0;
}
.sectionD .testimonies {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.6fr 0fr 1.6fr 0fr;
  grid-auto-flow: row;
  grid-template-areas: "testimonies__Img1 testimonies__Txt1" "testimonies__Img1 testimonies__Sign1" "testimonies__Txt3 testimonies__Img3" "testimonies__Sign3 testimonies__Img3";
  max-width: 320px;
  align-items: start;
  justify-items: center;
}
.sectionD .testimonies .testimonies__Img1 {
  grid-area: testimonies__Img1;
}
.sectionD .testimonies .testimonies__Img2 {
  grid-area: testimonies__Img2;
}
.sectionD .testimonies .testimonies__Img3 {
  grid-area: testimonies__Img3;
}
.sectionD .testimonies .testimonies__Txt1 {
  grid-area: testimonies__Txt1;
}
.sectionD .testimonies .testimonies__Txt2 {
  grid-area: testimonies__Txt2;
}
.sectionD .testimonies .testimonies__Txt3 {
  grid-area: testimonies__Txt3;
}
.sectionD .testimonies .testimonies__Sign1 {
  grid-area: testimonies__Sign1;
}
.sectionD .testimonies .testimonies__Sign2 {
  grid-area: testimonies__Sign2;
}
.sectionD .testimonies .testimonies__Sign3 {
  grid-area: testimonies__Sign3;
}
.sectionD .testimonies .testimonies__Txt1,
.sectionD .testimonies .testimonies__Txt2,
.sectionD .testimonies .testimonies__Txt3 {
  text-align: left;
  font-family: "Times New Roman", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #0D1105;
  max-width: 136px;
  opacity: 0.75;
}
.sectionD .testimonies .testimonies__Sign1,
.sectionD .testimonies .testimonies__Sign2,
.sectionD .testimonies .testimonies__Sign3 {
  margin: -20px 30px 0 0;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  font-size: 14px;
  opacity: 0.4;
  justify-self: end;
}
.sectionD .testimonies .fili,
.sectionD .testimonies .bilbo {
  max-width: 136px;
}
.sectionD .testimonies .testimonies__Txt1 {
  padding-top: 24px;
}
.sectionD .testimonies .testimonies__Txt3 {
  padding-top: 20px;
  text-align: right;
  max-width: 130px;
}
.sectionD .testimonies .testimonies__Sign3 {
  padding-top: 10px;
  margin-right: 12px;
}
.sectionD .testimonies .testimonies__Img2,
.sectionD .testimonies .testimonies__Txt2,
.sectionD .testimonies .testimonies__Sign2 {
  display: none;
}

/* --- Section D - RESTAURANT PAGE - Menu, events and festivals --- */
.accordion, .sectionF__reservations,
.sectionH__restaurantAdress {
  margin: 48px auto;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15px;
  text-align: left;
  color: #464646;
  font-weight: 400;
  max-width: 768px;
}
.accordion button, .sectionF__reservations button,
.sectionH__restaurantAdress button {
  font-size: 20px;
  font-weight: 600;
}
.accordion h2, .sectionF__reservations h2,
.sectionH__restaurantAdress h2 {
  opacity: 0.6;
}
.accordion img, .sectionF__reservations img,
.sectionH__restaurantAdress img {
  max-width: 100%;
}

.grid__imgs--menu {
  max-width: 1000px;
  display: none;
}
.grid__imgs--menu .imgs__menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 8px 8px;
  grid-auto-flow: row;
  grid-template-areas: "menu_01 menu_02 menu_03" "menu_04 menu_05 menu_06";
}
.grid__imgs--menu .imgs__menu img {
  width: 100%;
}
.grid__imgs--menu .menu_01 {
  grid-area: menu_01;
}
.grid__imgs--menu .menu_02 {
  grid-area: menu_02;
}
.grid__imgs--menu .menu_03 {
  grid-area: menu_03;
}
.grid__imgs--menu .menu_04 {
  grid-area: menu_04;
}
.grid__imgs--menu .menu_05 {
  grid-area: menu_05;
}
.grid__imgs--menu .menu_06 {
  grid-area: menu_06;
}

/* --- Section F y H - RESTAURANT PAGE - reservations and Section H adress --- */
.sectionF__reservations,
.sectionH__restaurantAdress {
  text-align: center;
  margin-top: 96px;
  margin-bottom: 96px;
  max-width: 90vw;
}

/* --- Section G - RESTAURANT PAGE - Video --- */
.video__restaurant {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video__restaurant iframe,
.video__restaurant object,
.video__restaurant embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ------------ FOOTER --------------- */
.footer {
  /* --- FOOTER Section Map --- */
  background-color: #0D1105;
}
.footer__map {
  background-image: url("../imgs/img_footerMapTablets.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.footer__map__icons_a {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-width: 280px;
  opacity: 0.9;
}
.footer__map__icons_a img {
  width: 36px;
}
.footer__map__icons_a img:hover {
  opacity: 0.85;
  cursor: pointer;
}
.footer__map__icons_b {
  display: flex;
  flex-direction: column;
}
.footer__map__icons_b p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #fbfbfb;
  filter: drop-shadow(0 0 3px rgb(13, 17, 5));
}
.footer__map__icons_b #here {
  height: 50px;
}
.footer__map__icons_b #map_p2 {
  font-size: 16px;
  line-height: 19px;
}
.footer__map__icons_c {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  opacity: 0.9;
}
.footer__map__icons_c img {
  width: 48px;
  margin-right: 15px;
  margin-left: 15px;
}
.footer__map__icons_c img:hover {
  opacity: 0.85;
  cursor: pointer;
}
.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 340px;
}
.footer__centeredYStroke {
  height: 2px;
  background: linear-gradient(90deg, rgba(247, 201, 165, 0) 18%, #A66736 36%, #DDA67B 50%, #A66736 64%, rgba(247, 201, 165, 0) 82%);
}
.footer__info {
  display: grid;
  align-items: center;
  justify-items: start;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-auto-flow: row;
  grid-template-areas: "linkServicios linkSeguridad" "linkLegales linkFAQs" "linkBlog linkTrabajo" "socialMedia socialMedia";
  max-width: 75vw;
  margin-top: 100px;
  margin-bottom: 85px;
}
.footer__info p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  text-align: left;
  color: #CE9468;
}
.footer__info__logo {
  grid-area: logo;
  margin-top: -20px;
}
.footer__info__iconHere {
  grid-area: iconHere;
}
.footer__info__iconTime {
  grid-area: iconTime;
}
.footer__info__iconMail {
  grid-area: iconMail;
}
.footer__info__iconPhone {
  grid-area: iconPhone;
}
.footer__info__adress {
  grid-area: adress;
}
.footer__info__time {
  grid-area: time;
}
.footer__info__mail {
  grid-area: mail;
}
.footer__info__phone {
  grid-area: phone;
}
.footer__info__linkServicios {
  grid-area: linkServicios;
}
.footer__info__linkSeguridad {
  grid-area: linkSeguridad;
}
.footer__info__linkLegales {
  grid-area: linkLegales;
}
.footer__info__linkFAQs {
  grid-area: linkFAQs;
}
.footer__info__linkBlog {
  grid-area: linkBlog;
}
.footer__info__linkTrabajo {
  grid-area: linkTrabajo;
}
.footer__info__socialMedia {
  grid-area: socialMedia;
}
.footer__info__socialMedia img {
  padding-right: 24px;
}
.footer__info__logo, .footer__info__iconHere, .footer__info__iconTime, .footer__info__iconMail, .footer__info__iconPhone, .footer__info__adress, .footer__info__mail, .footer__info__phone, .footer__info__time {
  display: none;
}
.footer__info__socialMedia .footer__info__logo {
  margin-top: -12px;
}
.footer__info__iconHere, .footer__info__iconTime, .footer__info__iconMail, .footer__info__iconPhone {
  margin-top: -4px;
}
.footer__info__linkServicios:hover, .footer__info__linkSeguridad:hover, .footer__info__linkLegales:hover, .footer__info__linkFAQs:hover, .footer__info__linkBlog:hover, .footer__info__linkTrabajo:hover {
  opacity: 0.7;
  cursor: pointer;
}
.footer__info__socialMedia img:hover {
  opacity: 0.7;
  cursor: pointer;
}
.footer__info__final {
  padding-bottom: 1px;
}
.footer__info__final p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 12px;
  color: #CE9468;
  margin-top: -36px;
  opacity: 0.5;
}
.footer__info__final, .footer__info__stroke_final {
  position: relative;
  height: 2px;
  background: linear-gradient(90deg, rgba(247, 201, 165, 0) 18%, #A66736 36%, #DDA67B 50%, #A66736 64%, rgba(247, 201, 165, 0) 82%);
  z-index: 20;
  margin-top: 76px;
  max-width: 1280px;
  margin: auto;
}
.footer__info__mask {
  position: relative;
  background-color: #0D1105;
  height: 50px;
  z-index: 10;
  margin: -50px auto;
  max-width: 1920px;
}
.footer__info__shade {
  position: relative;
  background: radial-gradient(50% 50% at 50% 50%, #F7C9A5 0%, rgba(247, 201, 165, 0) 100%);
  height: 48px;
  max-width: 1000px;
  margin: 24px auto;
  opacity: 0.3;
}

@media only screen and (min-width: 439px) and (max-width: 576px) {
  /* ------------ HEADER SECTION --------------- */
  /* --- HEADER Section :: Navbar --- */
  .logoME {
    width: 120%;
  }
  /* --- HEADER Section :: Hero --- */
  .hero__p1 {
    max-width: 336px;
  }
  /* --- HEADER Section :: btn_primary --- */
  .hero__btn--primary {
    margin-top: 49px;
  }
  /* --- MAIN Section B --- */
  .sectionB p {
    max-width: 340px;
  }
  /* --- MAIN Section F and H :: RESTAURANT PAGE ==> Reservations and adressIntro --- */
  .sectionF__reservations,
  .sectionH__restaurantAdress {
    max-width: 400px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  /* ------------ HEADER SECTION --------------- */
  /* --- HEADER Section :: Navbar --- */
  .logoME {
    width: 120%;
  }
  /* --- HEADER Section :: Hero --- */
  .hero h1 {
    max-width: 90vw;
    font-size: 38px;
    line-height: 41px;
  }
  /* --- HEADER Section :: btn_primary --- */
  .hero__btn--primary {
    margin-top: 31px;
  }
  .hero__p1 {
    font-size: 20px;
    line-height: 23px;
  }
  /* --- MAIN Section A --- */
  .sectionA__h2 {
    padding-top: 68px;
    max-width: 445px;
  }
  /* --- MAIN Section B --- */
  .sectionB p {
    max-width: 340px;
  }
  /* --- MAIN Section A :: RESTAURANT PAGE --- */
  .logo_theGreenDragon {
    max-width: 300px;
  }
  /* --- MAIN Section A :: RESTAURANT PAGE ==> Menu --- */
  .sectionE__carousel--menu {
    display: none;
  }
  .grid__imgs--menu {
    display: block;
  }
  /* --- FOOTER Section Maps --- */
  .footer__content {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer__map__icons_a,
  .footer__map__icons_c {
    flex-direction: column;
    min-width: 0;
  }
  .footer__map__icons_a img, .footer__map__icons_a img,
  .footer__map__icons_c img,
  .footer__map__icons_c img {
    margin-bottom: 8px;
    margin-top: 8px;
    margin-right: 0px;
    margin-left: 0px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  /* ------------ HEADER SECTION --------------- */
  /* --- HEADER Section --- */
  .home {
    background-image: url("../imgs/header_desktop_home_01.png");
  }
  .attractions {
    background-image: url("../imgs/header_desktop_attractions_01.png");
  }
  .promos {
    background-image: url("../imgs/header_desktop_promos_01.png");
  }
  .food {
    background-image: url("../imgs/header_desktop_food_02.png");
  }
  .contact {
    background-image: url("../imgs/header_desktop_contact_01.png");
  }
  /* --- HEADER Section :: Navbar --- */
  .logoME {
    width: 140%;
  }
  /* --- HEADER Section :: Hero --- */
  .hero h1 {
    font-size: 46px;
    line-height: 49px;
    max-width: 60vw;
    margin-top: 248px;
  }
  .hero__p1 {
    font-size: 21px;
    line-height: 25px;
    margin-top: 25px;
  }
  /* --- HEADER Section :: btn_primary --- */
  .hero__btn--primary {
    margin-top: 56px;
  }
  /* --- MAIN Section :: Section A --- */
  .sectionA div {
    -moz-columns: 2;
         columns: 2;
    max-width: 80vw;
  }
  .sectionA__h2 {
    padding-top: 68px;
    max-width: 445px;
  }
  /* --- MAIN Section A :: RESTAURANT PAGE --- */
  .logo_theGreenDragon {
    max-width: 300px;
  }
  /* --- MAIN Section A :: CONTACT PAGE --- */
  .sectionA__contact {
    max-width: 1000px;
    margin-top: 48px;
    flex-direction: row;
    align-items: flex-start;
  }
  .sectionA__contact img {
    display: block;
    margin-top: 48px;
    margin-right: 12px;
  }
  /* --- MAIN Section B :: INDEX PAGE --- */
  .sectionB p {
    max-width: 340px;
  }
  /* --- MAIN Section C :: INDEX PAGE --- */
  .sectionC__carousel--mobile {
    display: none;
  }
  .sectionC__carousel .sectionC__carousel--desktop {
    display: block;
  }
  .sectionC__carousel .carousel__inner {
    display: none;
  }
  /* --- MAIN - Section D ==> Testimonies--- */
  .sectionD .testimonies {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    gap: 0 20px;
    grid-template-areas: "testimonies__Img1 testimonies__Img2 testimonies__Img3" "testimonies__Txt1 testimonies__Txt2 testimonies__Txt3" "testimonies__Sign1 testimonies__Sign2 testimonies__Sign3";
    max-width: 798px;
    align-items: baseline;
    margin-top: 140px;
    margin-bottom: 0px;
  }
  .sectionD .testimonies .fili,
  .sectionD .testimonies .bilbo {
    max-width: 100%;
  }
  .sectionD .testimonies .testimonies__Img2,
  .sectionD .testimonies .testimonies__Txt2,
  .sectionD .testimonies .testimonies__Sign2 {
    display: block;
  }
  .sectionD .testimonies .testimonies__Txt1,
  .sectionD .testimonies .testimonies__Txt2,
  .sectionD .testimonies .testimonies__Txt3 {
    max-width: 180px;
    font-size: 18px;
    font-weight: 600;
    opacity: 0.6;
    color: #0D1105;
  }
  .sectionD .testimonies .testimonies__Img1,
  .sectionD .testimonies .testimonies__Img2,
  .sectionD .testimonies .testimonies__Img3 {
    align-self: baseline;
  }
  /* --- MAIN Section E :: RESTAURANT PAGE ==> Menu --- */
  .sectionE__carousel--menu {
    display: none;
  }
  .grid__imgs--menu {
    display: block;
  }
  /* --- MAIN Section F and H :: RESTAURANT PAGE ==> Reservations --- */
  .sectionF__reservations,
  .sectionH__restaurantAdress {
    width: 1000px;
  }
  /* --- FOOTER - Section Map --- */
  .footer__map {
    background-image: url("../imgs/img_footerMap.jpg");
  }
  .footer__map__icons_a, .footer__map__icons_c {
    flex-direction: column;
    min-width: 0;
  }
  .footer__map__icons_a img, .footer__map__icons_c img {
    margin-bottom: 8px;
    margin-top: 8px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .footer__map #here {
    height: 72px;
  }
  .footer__content {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer__info {
    display: grid;
    grid-template-columns: 2fr 30px 2.5fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
    grid-template-areas: "logo iconHere adress linkServicios linkSeguridad" "logo iconTime time linkLegales linkFAQs" "logo iconMail mail linkBlog linkTrabajo" "logo iconPhone phone socialMedia socialMedia";
    align-items: start;
    max-width: 90vw;
  }
  .footer__info__logo, .footer__info__iconHere, .footer__info__iconTime, .footer__info__iconMail, .footer__info__iconPhone, .footer__info__adress, .footer__info__mail, .footer__info__phone, .footer__info__time {
    display: block;
  }
  .footer__info__socialMedia img {
    padding-right: 24px;
  }
}
@media only screen and (min-width: 993px) {
  /* ------------ HEADER SECTION --------------- */
  /* --- HEADER Section --- */
  .home {
    background-image: url("../imgs/header_desktop_home_01.png");
  }
  .attractions {
    background-image: url("../imgs/header_desktop_attractions_01.png");
  }
  .promos {
    background-image: url("../imgs/header_desktop_promos_01.png");
  }
  .food {
    background-image: url("../imgs/header_desktop_food_02.png");
  }
  .contact {
    background-image: url("../imgs/header_desktop_contact_01.png");
  }
  /* --- HEADER Section :: Navbar --- */
  .logoME {
    width: 180%;
  }
  .navbar {
    max-width: 1280px;
    margin: auto;
  }
  /* --- HEADER Section :: Hero --- */
  .hero h1 {
    font-size: 60px;
    line-height: 72px;
    max-width: 790px;
    margin-top: 219px;
  }
  .hero__p1, .hero__p2 {
    font-size: 24px;
    line-height: 18px;
    margin-top: 25px;
    max-width: 100%;
  }
  .hero__p2 {
    display: block;
    margin-top: 0;
  }
  .hero__btn--primary {
    margin-top: 67px;
  }
  /* --- MAIN Section A --- */
  .sectionA div {
    -moz-columns: 2;
         columns: 2;
    max-width: 1024px;
  }
  .sectionA__h2 {
    padding-top: 68px;
    max-width: 100%;
    font-size: 36px;
    line-height: 43px;
    max-width: 650px;
  }
  .sectionA__p1, .sectionA__p2 {
    font-size: 17px;
  }
  /* --- MAIN  - RESTAURANT PAGE :: Section A ==> Intro --- */
  .logo_theGreenDragon {
    max-width: 300px;
  }
  /* --- MAIN  - Section A ==> Contact form --- */
  .sectionA__contact {
    max-width: 1000px;
    margin-top: 48px;
    flex-direction: row;
    align-items: flex-start;
  }
  .sectionA__contact img {
    display: block;
    margin-top: 48px;
    margin-right: 12px;
  }
  /* --- MAIN Section B --- */
  .sectionB p {
    max-width: 340px;
  }
  .sectionB h3 {
    font-size: 32px;
  }
  .sectionB h4 {
    font-size: 16px;
  }
  .sectionB__icons {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 12px 12px;
    grid-template-areas: "icon_1a icon_2a icon_3a icon_4a icon_5a" "icon_1b icon_2b icon_3b icon_4b icon_5b";
    max-width: 650px;
    justify-items: center;
    margin-top: 25px;
  }
  .sectionB__icons .icon_4a {
    grid-area: icon_4a;
    padding: 0 25px;
  }
  .sectionB__icons .icon_4b {
    grid-area: icon_4b;
    padding: 0 25px;
  }
  .sectionB__icons .icon_5a {
    grid-area: icon_5a;
    padding: 0 25px;
  }
  .sectionB__icons .icon_5b {
    grid-area: icon_5b;
    padding: 0 25px;
  }
  .sectionB__icons .sectionB__icons img:hover {
    opacity: 0.7;
  }
  .sectionB__icons .btn_secondary {
    margin-top: 18px;
    width: 232px;
  }
  /* --- MAIN Section C --- */
  .sectionC__carousel--mobile {
    display: none;
  }
  .sectionC__carousel .sectionC__carousel--desktop {
    display: block;
  }
  .sectionC__carousel .carousel__inner {
    display: none;
  }
  /* --- MAIN - Section D ==> Testimonies--- */
  .sectionD .testimonies {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    gap: 0 20px;
    grid-template-areas: "testimonies__Img1 testimonies__Img2 testimonies__Img3" "testimonies__Txt1 testimonies__Txt2 testimonies__Txt3" "testimonies__Sign1 testimonies__Sign2 testimonies__Sign3";
    max-width: 798px;
    align-items: baseline;
    margin-top: 140px;
    margin-bottom: 0px;
  }
  .sectionD .testimonies .fili,
  .sectionD .testimonies .bilbo {
    max-width: 100%;
  }
  .sectionD .testimonies .testimonies__Img2,
  .sectionD .testimonies .testimonies__Txt2,
  .sectionD .testimonies .testimonies__Sign2 {
    display: block;
  }
  .sectionD .testimonies .testimonies__Txt1,
  .sectionD .testimonies .testimonies__Txt2,
  .sectionD .testimonies .testimonies__Txt3 {
    max-width: 180px;
    font-size: 18px;
    font-weight: 600;
    opacity: 0.6;
    color: #0D1105;
  }
  .sectionD .testimonies .testimonies__Img1,
  .sectionD .testimonies .testimonies__Img2,
  .sectionD .testimonies .testimonies__Img3 {
    align-self: baseline;
  }
  /* --- MAIN Section E :: RESTAURANT PAGE ==> Menu --- */
  .sectionE__carousel--menu {
    display: none;
  }
  .grid__imgs--menu {
    display: block;
  }
  /* --- MAIN Section F and H :: RESTAURANT PAGE ==> Reservations --- */
  .sectionF__reservations,
  .sectionH__restaurantAdress {
    max-width: 90vw;
  }
  /* ------------ FOOTER SECTION --------------- */
  /* --- FOOTER - Section Map --- */
  .footer__map {
    background-image: url("../imgs/img_footerMap.jpg");
  }
  .footer__map__icons_a, .footer__map__icons_c {
    flex-direction: column;
    min-width: 0;
  }
  .footer__map__icons_a img, .footer__map__icons_c img {
    margin-bottom: 8px;
    margin-top: 8px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .footer__map #here {
    height: 72px;
  }
  .footer__content {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1024px;
  }
  /* --- FOOTER - Section Info --- */
  .footer__info {
    display: grid;
    grid-template-columns: 2fr 30px 2.5fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
    grid-template-areas: "logo iconHere adress linkServicios linkSeguridad" "logo iconTime time linkLegales linkFAQs" "logo iconMail mail linkBlog linkTrabajo" "logo iconPhone phone socialMedia socialMedia";
    align-items: start;
    max-width: 795px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 85px;
  }
  .footer__info__logo, .footer__info__iconHere, .footer__info__iconTime, .footer__info__iconMail, .footer__info__iconPhone, .footer__info__adress, .footer__info__mail, .footer__info__phone, .footer__info__time {
    display: block;
  }
  .footer__info__socialMedia img {
    padding-right: 24px;
  }
}
/* -----------------------
   Estilos Generales
--------------------------*/
.no-script-message {
  background: #ffcc00;
  color: #000;
  text-align: center;
  padding: 1em;
}

body {
  display: none;
  text-align: center;
  position: relative;
  background-image: linear-gradient(-45deg, #2B2B2B 0%, #C8C8C8 35%, #E2E2E2 53%, #ABABAB 69%, #5B5B5B 100%);
}

/* ------------ Strokes ------------- */
.carrousel__UpperStroke {
  position: relative;
  z-index: 2000;
  margin-top: -4px;
  margin-bottom: 2px;
  height: 2px;
  background: linear-gradient(90deg, rgba(247, 201, 165, 0) 18%, #A66736 36%, #DDA67B 50%, #A66736 64%, rgba(247, 201, 165, 0) 82%);
}

.carrousel__DownStroke {
  position: relative;
  z-index: 200;
  margin-top: 2px;
  margin-bottom: -4px;
  height: 2px;
  background: linear-gradient(90deg, rgba(247, 201, 165, 0) 18%, #A66736 36%, #DDA67B 50%, #A66736 64%, rgba(247, 201, 165, 0) 82%);
}

/* ----------------------
   Botón "Ir arriba"
-------------------------*//*# sourceMappingURL=main.css.map */