@media only screen and (min-width: 439px) and (max-width: 576px) {

    /* ==================================================
				HEADER SECTION
    ===================================================*/
    // *** =========== HEADER :: NAVBAR =========== *** //
    .logoME {
        width: 120%;
    }

    // *** =========== HEADER :: HERO =========== *** //
    .hero__p1 {
        max-width: 336px;
    }

    // *** =========== HEADER :: BTN CTA =========== *** //
    .hero__btn--primary {
        margin-top: 49px;
    }




    /* ==================================================
					MAIN SECTION
    ===================================================*/
    // *** =========== MAIN :: Section B =========== *** //
    .sectionB p {
        max-width: 340px;
    }




    // *** =========== MAIN :: RESTAURANT PAGE =========== *** //
    // Section H reservations and adress
    .sectionF__reservations,
    .sectionH__restaurantAdress {
        max-width: 400px;
    }
}