@media only screen and (min-width: 439px) and (max-width: 576px) {

    /* ------------ HEADER SECTION --------------- */
    //=========================================================
    /* --- HEADER Section :: Navbar --- */
    .logoME {
        width: 120%;
    }

    /* --- HEADER Section :: Hero --- */
    .hero__p1 {
        max-width: 336px;
    }

    /* --- HEADER Section :: btn_primary --- */
    .hero__btn--primary {
        margin-top: 49px;
    }




    //=========================================================
    /* --- MAIN Section B --- */
    .sectionB p {
        max-width: 340px;
    }





    //=========================================================
    /* --- MAIN Section F and H :: RESTAURANT PAGE ==> Reservations and adressIntro --- */
    .sectionF__reservations,
    .sectionH__restaurantAdress {
        max-width: 400px;
    }
}