@media only screen and (min-width: 577px) and (max-width: 768px) {

    /* ==================================================
				HEADER SECTION
    ===================================================*/
    // *** =========== HEADER :: NAVBAR =========== *** //
    .logoME {
        width: 120%;
    }

    // *** =========== HEADER :: HERO =========== *** //
    .hero h1 {
        max-width: 90vw;
        font-size: 38px;
        line-height: 41px;
    }

    // *** =========== HEADER :: BTN CTA =========== *** //
    .hero__btn--primary {
        margin-top: 31px;
    }

    .hero__p1 {
        font-size: 20px;
        line-height: 23px;
    }




    /* ==================================================
					MAIN SECTION
    ===================================================*/
    .sectionA__h2 {
        padding-top: 68px;
        max-width: 445px;
    }

    // *** =========== MAIN :: Section B =========== *** //
    .sectionB p {
        max-width: 340px;
    }

    // *** =========== MAIN Section A Intro :: RESTAURANT PAGE  =========== *** //
    //Logo restaurant
    .logo_theGreenDragon {
        max-width: 300px;
    }

    // *** =========== MAIN Section E Menu :: RESTAURANT PAGE  =========== *** //
    .sectionE__carousel--menu {
        display: none;
    }

    .grid__imgs--menu {
        display: block;
    }





    /* ==================================================
					FOOTER SECTION
    ===================================================*/
    // *** =========== FOOTER :: SECTION MAPS =========== *** //
    .footer--content {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer__map__icons_a,
    .footer__map__icons_c {
        flex-direction: column;
        min-width: 0;
    }

    .footer__map__icons_a img,
    .footer__map__icons_c img {
        margin-bottom: 8px;
        margin-top: 8px;
        margin-right: 0px;
        margin-left: 0px;
    }
}