// ---------COLORS---------------------
$white: #fbfbfb;
$lightGray: #B8BAB8;
$lead: #7C7C7C;
$darkGray: #464646;
$almostBlack: #121212;

$lightGreen: #AEB5AE;
$darkGreen: #0D1105;
$green: #242D14;

$gold: #CE9468;
$darkGold: #412814;




// ---------GRADIENTS------------------
$golden--gradient: linear-gradient(90.93deg, #C48351 0.05%, #DDA67A 37.11%, #A0612F 100.15%);
$goldenOpposite--gradient: linear-gradient(90.93deg, #C48351 20.05%, #DDA67A 57.11%, #A0612F 120.15%);
$goldenBtn--gradient: linear-gradient(92.15deg, #C48452 5.16%, #F7C9A5 64.69%, #A26331 98.09%);




// ---------STROKES--------------------
$stroke--gradient: linear-gradient(90deg, rgba(247, 201, 165, 0) 18%, #A66736 36%, #DDA67B 50%, #A66736 64%, rgba(247, 201, 165, 0) 82%);




// ---------SHADOWS--------------------
// Drop Shadows
$lightShadow: drop-shadow(0px 4px 8px rgba(13, 17, 5, 0.35));
$mediumShadow: drop-shadow(0px 4px 8px rgba(13, 17, 5, 0.55));
$darkShadow: drop-shadow(0px 4px 8px rgba(13, 17, 5, 0.85));
$textShadow: drop-shadow(0 0 3px rgba(13, 17, 5, 1));





// ---------- ARROW UP --------------
// ---- Floating button with "go up" action and a conditional value ---
// @mixin btn--arrowUp-styles {
// 	display: none;
// 	margin: 24px 0 48px 0;
// 	max-width: 100vw;
// 	position: fixed;
// 	z-index: 10000;
// 	bottom: 65px;
// 	right: 0;
// 	filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.85));
// 	transform: translateX(56px);
// 	transition: 2s;

// 	&:hover {
// 		transform: scale(1.05);
// 		transition: all 200ms ease-in-out 0ms;
// 		transform: translateY(-7px);
// 	}
// }


// #btn_arrowUp {
// 	@include btn--arrowUp-styles;
// }



// ---------BUTTONS--------------------
// Primary button
@mixin btn--Primary-styles {
	font-family: "Roboto condensed", sans-serif;
	font-weight: 700;
	font-size: 17px;
	line-height: 21px;
	text-align: center;
	color: $darkGold;
	filter: $mediumShadow;
	background: $golden--gradient;
	border: 1.5px solid $gold;
	border-radius: 16px;
	height: 36px;
	width: 260px;
	z-index: 10;
	transition: all 200ms ease-in-out 0ms;

	&:hover {
		background: $goldenOpposite--gradient;
		color: $darkGreen;
	}
}

.btn_primary {
	@include btn--Primary-styles;
}


// Secondary button
@mixin btn--Secondary-styles {
	font-family: 'Roboto Condensed';
	font-weight: 500;
	font-size: 16px;
	text-align: center;
	color: $white;
	filter: $textShadow;
	width: 288px;
	height: 36px;
	filter: $lightShadow;
	background: $golden--gradient;
	border: 1px solid $gold;
	border-radius: 24px;
	transition: all 200ms ease-in-out 0ms;

	&:hover {
		background: $goldenOpposite--gradient;
		filter: $mediumShadow;
	}
}

.btn_secondary {
	@include btn--Secondary-styles;
}


// // Tertiary button
// @mixin btn__Tertiary--styles {
// 	display: block;
// 	padding: 0.3rem 1rem;
// 	font-family: 'Roboto condensed', serif;
// 	text-align: center;
// 	font-size: 1rem;
// 	color: $white;
// 	text-decoration: none;
// 	filter: $textShadow;
// 	background-color: #000;
// 	background-image: $golden--gradient;
// 	border-radius: 8px;
// 	filter: $lightShadow;

// 	&:hover {
// 		filter: $mediumShadow;

// 	}
// }

// .btn__cards{
// 	@include btn--Secondary-styles;
// }




// // ------------ ATRACTIONS CARDS --------------
// @mixin card__attraction--styles {
// 	// Header: type of attraction
// 	.card-header {
// 		font-size: 15px;
// 		padding: 0.16rem;
// 		background-image: $golden--gradient;
// 		color: $white;
// 		opacity: 0.85;
// 	}

// 	// Image: Descriptive of attraction
// 	.card-title {
// 		font-weight: 900;
// 		text-align: left;
// 		color: $darkGreen;
// 		opacity: 0.65;
// 	}

// 	// Body's texts: Name and description of attraction
// 	.card-text {
// 		text-align: left;
// 		font-size: 15px;
// 		color: $darkGreen;
// 		opacity: 0.85;
// 	}

// 	// Footer: Price of attraction
// 	.text-body {
// 		font-weight: 700;
// 		color: $lead !important;
// 	}

// 	// Footer: Buttons to buy and more info

// 	// Footer: Tertiary buttons
// 	.btn-tertiary {
// 		font-size: 0.85rem;
// 		font-weight: 600;
// 		opacity: 0.65;
// 		color: $darkGold;

// 		&:hover {
// 			text-decoration: underline;
// 		}
// 	}
// }

// .attraction--card {
// 	@include btn__Tertiary--styles;
// }