// colors
$white: #fbfbfb;
$lightGray: #B8BAB8;
$lead: #7C7C7C;
$darkGray: #464646;
$almostBlack: #121212;

$lightGreen: #AEB5AE;
$darkGreen: #0D1105;
$green: #242D14;

$gold: #CE9468;
$darkGold: #412814;
