/* ------------ HEADER SECTION --------------- */
/* --- HEADER - Global values --- */

.header {
	background-color: $darkGreen;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: top;
	display: flex;
	flex-direction: column;
	position: relative;
}




// Imgs for background of the header section
.home {
	background-image: url('../imgs/header_mobile_home_01.png');
}

.attractions {
	background-image: url('../imgs/header_mobile_attractions_01.png');
}

.promos {
	background-image: url('../imgs/header_mobile_promos_02.png');
}

.food {
	background-image: url('../imgs/header_mobile_food_02.png');
}

.contact {
	background-image: url('../imgs/header_mobile_contact_01.png');
}




.navbar {
	padding-top: 20px;
	--bs-navbar-toggler-padding-y: 0.15rem;
	--bs-navbar-toggler-padding-x: 0.35rem;
	filter: $textShadow;
}

.navbar-brand:hover {
	opacity: 0.7;
}

.navbar-nav {
	--bs-nav-link-padding-x: 0.2rem;
	--bs-nav-link-padding-y: 0.3rem;
}

/* --- BS HEADER - navbar toggler --- */
.navbar-toggler {
	border-color: rgba(255, 255, 255, 0.6);
}

// BS HEADER navbar items
.navbar a {
	font-family: "Roboto Condensed", sans-serif;
	font-size: 14px;
	color: $white;


	&:visited {
		color: $white;
	}
}

.navbar-dark {
	--bs-navbar-active-color: #fbfbfbb4;
}




/* --- HEADER - Hero --- */
/* --- HEADER - Hero Title --- */
.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;

	h1 {
		position: relative;
		font-family: "Trajan Pro", "Times New Roman", serif;
		font-size: 32px;
		line-height: 34px;

		background-image: $goldenBtn--gradient;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		color: $gold;
		margin-top: 198px;
		filter: $textShadow;
	}
}




/* --- HEADER - Hero Copy --- */
.hero__p1,
.hero__p2 {
	font-family: "Roboto Condensed", sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 21px;
	color: $white;
	margin-top: 16px;
	// opacity: 0.8;
	max-width: 380px;
	filter: $textShadow;


}

.hero__p2 {
	display: none;
}




/* --- HEADER - Hero CTA --- */
.hero__btn--primary {
	text-decoration: none;
	margin-top: 25px;

	div {
		display: flex;
		flex-direction: column;
		align-items: center;
		transition: all 200ms ease-in-out 0ms;

		&:hover {
			filter: $darkShadow;
		}
	}
}

.hero__btnFiruletes {
	z-index: 1;
	margin-top: -55px;
}








// Changes for Attractions, Promos and Restaurant
.header_content {
	background-color: transparent;
}