/* ==================================================
				HEADER SECTION
===================================================*/


// *** =========== HEADER :: Global values =========== *** //

.header {
	background-color: $darkGreen;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: top;
	display: flex;
	flex-direction: column;
	position: relative;
}


/* --- Imgs for background of the header section --- */
.home {
	background-image: url('../imgs/header_mobile_home_01.png');
}

.attractions {
	background-image: url('../imgs/header_mobile_attractions_01.png');
}

.promos {
	background-image: url('../imgs/header_mobile_promos_01.png');
}

.food {
	background-image: url('../imgs/header_mobile_food_02.png');
}

.contact {
	background-image: url('../imgs/header_mobile_contact_01.png');
}


// *** =========== for Attractions, Promos and Restaurant pages =========== *** //
.header--content {
	background-color: transparent;
}




// *** =========== HEADER :: NAVBAR =========== *** //
.navbar {
	padding-top: 20px;
	--bs-navbar-toggler-padding-y: 0.15rem;
	--bs-navbar-toggler-padding-x: 0.35rem;
	filter: $textShadow;

	&-brand:hover {
		opacity: 0.7;
	}

	&-nav {
		--bs-nav-link-padding-x: 0.2rem;
		--bs-nav-link-padding-y: 0.3rem;
	}

	/* --- HEADER :: Navbar toggler --- */
	&-toggler {
		border-color: rgba(255, 255, 255, 0.6);
	}

	/* --- HEADER :: Navbar items --- */
	a {
		font-family: $s--serif;
		font-size: 14px;
		color: $white;

		&:visited {
			color: $white;
		}
	}

	&-dark {
		--bs-navbar-active-color: #fbfbfbb4;
	}
}




// *** =========== HEADER :: HERO =========== *** //
/* --- HEADER :: Hero title --- */
.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;

	h1 {
		position: relative;
		font-family: $trajan;
		font-size: 32px;
		line-height: 34px;

		background-image: $goldenBtn--gradient;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		color: $gold;
		margin-top: 198px;
		filter: $textShadow;
	}

	/* --- HEADER :: Hero copy --- */
	&__p1,
	&__p2 {
		font-family: $s--serif;
		font-weight: 300;
		font-size: 18px;
		line-height: 21px;
		color: $white;
		margin-top: 16px;
		// opacity: 0.8;
		max-width: 380px;
		filter: $textShadow;
	}

	&__p2 {
		display: none;
	}

	/* --- HEADER :: Hero CTA --- */
	&__btn--primary {
		text-decoration: none;
		margin-top: 25px;

		div {
			display: flex;
			flex-direction: column;
			align-items: center;
			transition: all 200ms ease-in-out 0ms;

			&:hover {
				filter: $darkShadow;
			}
		}
	}

	&__btnFiruletes {
		z-index: 1;
		margin-top: -55px;
	}
}