/* ------------ MAIN --------------- */
/* --- MAIN - SectionA - Intro --- */
.sectionA {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $darkGreen;
	padding-bottom: 40px;
}

.sectionA__h2 {
	font-family: "Trajan Pro", "Times New Roman", serif;
	font-size: 24px;
	color: $gold;
	padding-top: 88px;
}

.sectionA__p1,
.sectionA__p2 {
	padding-top: 24px;
	font-family: 'Times New Roman';
	font-weight: 400;
	font-size: 16px;
	color: $lightGreen;
	text-align: left;
	max-width: 80vw;
}

.sectionA__p1:first-letter,
.sectionA__p2:first-letter {
	initial-letter: 2;
	padding-right: 2px;
	color: $gold;
}




/* --- MAIN - SectionB --- */

.sectionB {
	padding-top: 56px;
	padding-bottom: 56px;
	background-color: $lightGray;
	display: flex;
	flex-direction: column;
	align-items: center;

	h3 {
		font-family: 'Aniron';
		font-size: 24px;
		color: $darkGreen;
		opacity: 0.9;
	}

	h4 {
		font-family: 'Aniron';
		font-size: 15px;
		color: $darkGreen;
		opacity: 0.7;
	}

	p {
		font-family: 'Roboto Condensed';
		font-weight: 700;
		font-size: 16px;
		line-height: 22px;
		text-align: center;
		color: $darkGreen;
		opacity: 0.8;
	}
}

.sectionB__icons {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-areas:
		"icon_1a icon_1a icon_2a icon_2a icon_3a icon_3a"
		"icon_1b icon_1b icon_2b icon_2b icon_3b icon_3b"
		"icon_4a icon_4a icon_4a icon_5a icon_5a icon_5a"
		"icon_4b icon_4b icon_4b icon_5b icon_5b icon_5b";
	justify-items: center;
	max-width: 300px;
}

.icon_1a {
	grid-area: icon_1a;
	padding: 0 25px;
}

.icon_1b {
	grid-area: icon_1b;
	padding: 0 25px;
}

.icon_2a {
	grid-area: icon_2a;
	padding: 0 25px;
}

.icon_2b {
	grid-area: icon_2b;
	padding: 0 25px;
}

.icon_3a {
	grid-area: icon_3a;
	padding: 0 25px;
}

.icon_3b {
	grid-area: icon_3b;
	padding: 0 25px;
}

.icon_4a {
	grid-area: icon_4a;
	padding: 0 25px;
	justify-self: end;
	max-width: 115px;
}

.icon_4b {
	grid-area: icon_4b;
	padding-left: 34px;
	justify-self: end;
	max-width: 155px;
	text-align: center;
}

.icon_5a {
	grid-area: icon_5a;
	padding: 0 8px;
	justify-self: start;
}

.icon_5b {
	grid-area: icon_5b;
	padding-right: 64px;
	justify-self: start;
	max-width: 155px;
	text-align: center;
}

.icon_1b,
.icon_2b,
.icon_3b,
.icon_4b,
.icon_5b {
	font-family: 'Roboto condensed', sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
}

.btn_secondary {
	font-family: 'Roboto Condensed';
	font-weight: 500;
	font-size: 16px;
	text-align: center;
	color: $white;
	text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
	width: 288px;
	height: 36px;
	filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.35));
	background: linear-gradient(90.93deg, #C48351 0.05%, #DDA67A 37.11%, #A0612F 100.15%);
	border: 1px solid $gold;
	border-radius: 8px;

	&:hover {
		background: linear-gradient(90.93deg, #C48351 20.05%, #DDA67A 57.11%, #A0612F 120.15%);
		cursor: pointer;
	}
}

.btn_secondary
/* --- MAIN - SectionC --- */
/* --- MAIN - Line --- */

.carrousel__UpperStroke {
	margin-top: -4px;
	margin-bottom: 2px;
	height: 2px;
	background: linear-gradient(90deg, rgba(247, 201, 165, 0) 18%, #A66736 36%, #DDA67B 50%, #A66736 64%, rgba(247, 201, 165, 0) 82%);
}




.sectionC__desktop {
	display: none;
}




.carrousel__DownStroke {
	margin-top: 2px;
	margin-bottom: -4px;
	height: 2px;
	background: linear-gradient(90deg, rgba(247, 201, 165, 0) 18%, #A66736 36%, #DDA67B 50%, #A66736 64%, rgba(247, 201, 165, 0) 82%);
}




.testimonies {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1.6fr 0.0fr 1.6fr 0.0fr;
	grid-auto-flow: row;
	grid-template-areas:
		"testimonies__Img1 testimonies__Txt1"
		"testimonies__Img1 testimonies__Sign1"
		"testimonies__Txt3 testimonies__Img3"
		"testimonies__Sign3 testimonies__Img3";
	max-width: 320px;
	align-items: start;
	justify-items: center;
	margin-top: 76px;
	margin-bottom: 76px;
}

.testimonies__Img1 {
	grid-area: testimonies__Img1;
}

.testimonies__Img2 {
	grid-area: testimonies__Img2;
}

.testimonies__Img3 {
	grid-area: testimonies__Img3;
}

.testimonies__Txt1 {
	grid-area: testimonies__Txt1;
}

.testimonies__Txt2 {
	grid-area: testimonies__Txt2;
}

.testimonies__Txt3 {
	grid-area: testimonies__Txt3;
}

.testimonies__Sign1 {
	grid-area: testimonies__Sign1;
}

.testimonies__Sign2 {
	grid-area: testimonies__Sign2;
}

.testimonies__Sign3 {
	grid-area: testimonies__Sign3;
}

.testimonies__Txt1,
.testimonies__Txt2,
.testimonies__Txt3 {
	text-align: left;
	font-family: "Times New Roman", serif;
	font-style: italic;
	font-weight: 400;
	font-size: 17px;
	line-height: 20px;
	color: $darkGreen;
	max-width: 136px;
	opacity: 0.75;
}

.testimonies__Sign1,
.testimonies__Sign2,
.testimonies__Sign3 {
	margin: -20px 30px 0 0;
	font-family: "Roboto Condensed", sans-serif;
	font-weight: 600;
	font-size: 14px;
	opacity: 0.4;
	justify-self: end;
}

.fili,
.bilbo {
	max-width: 136px;
}

.testimonies__Txt1 {
	padding-top: 24px;
}

.testimonies__Txt3 {
	padding-top: 20px;
	text-align: right;
	max-width: 130px;
}

.testimonies__Sign3 {
	padding-top: 10px;
	margin-right: 12px;
}

.testimonies__Img2,
.testimonies__Txt2,
.testimonies__Sign2 {
	display: none;
}